// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#p-sidebar {
    min-height: 100vh;
    background:white;
    color: black;
    transition: all 0.3s;
}

#p-sidebar .sidebar-header {
    padding: 20px;
}
#p-sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#p-sidebar ul p {
    color: #fff;
    padding: 10px;
}

#p-sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    //display: block;
}
#p-sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#p-sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.fa-twitter-square{
    color: Dodgerblue;;
}

#post_date{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    display: block;
    padding: 0.2rem 0.5rem; 
}

.left-side-menu{
    padding-top: 100px;
    border-right: 2px solid #dee2e6;
}

.left-menu-icons li a i{
   font-size: 1rem;
   color: rgb(2, 46, 56); 
}
.left-menu-icons li a i:hover{
    //font-size: 1.1rem;
    color:$blue; 
 }


// SPost
.post-text-container{
    margin-bottom: 5px;
    background-color: $postoreGrey; 
}
.post-text-group{
    position: relative;
    .post-character-count{
        position: absolute;
        right: 2px;
        bottom: 2px;
        margin-bottom: 0;
    }
}

.social-selector{
    border: 2px solid #3490dc;
    border-radius: 5px;
    padding: 2px;
    position: relative;

    .social-selector-check{
        color: $green;
        position: absolute;
        right: 1px;
        bottom: 1px;
        font-size: 0.8rem;
    }

}

.social-selector-inactive{
    opacity: 0.3;
}

.check-inactive{
    display:none;
}

.twitter-profile-option{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 3px;
}
twitter-profile-option-active{
    border: 3px solid blue;
}
.show-avatar{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

// Media files

.imagePreview{
    width: 240px;
    height: 240px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border-radius: 14px;
    position: relative;
    .removeMedia{
        position: absolute;
        right: 5px;
        top: 5px;
        color: white;
        background-color: grey;
        border-radius: 100%;
        cursor: pointer;
        z-index: 10;
    }
}

.show-image-1{
    // width: 200px;
    // height: 200px;
    width: 340px;
    height: 190px;
    margin: 5px;
    border-radius: 14px;
}
.show-image-2{
    width: 170px;
    height: 190px;
    margin: 5px;
    border-radius: 14px;
}
.show-image-3{
    width: 170px;
    height: 95px;
    margin: 5px;
    border-radius: 14px;
}

.page-title{
    font-size: 2.5rem;
    padding-bottom: 15px;
}

.page-subtitle{
    background-color: $postoreGrey;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

// Social Profiles
.social-profiles-content{
    margin-top: 10px;
}

.social-profile-header{
    margin-bottom: 10px;
}
.social-profile-name{
    font-size: large;
    font-weight: bold;
    margin-left: 5px;
}
.social-profile-list{
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.social-profile-item{
    padding-left: 10px;
}


// Add twitter profile button
.btn-add-tw{
    background-color: $blue;
    color:  white;
    margin-top: 10px;
}
i.fab.fa-twitter{
    color: white;
}

.failure-publish{
    overflow: hidden;
    position: absolute;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
}


// Media queries
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .postore_left_icon_menu {
      display: block;
    }
    .postore_left_expanded_menu {
        display: none;
    }
    .posts-table-small{
        display: block;
    }
    .posts-table-large{
        display: none;
    }
    .show-post-text{
        font-size: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .postore_left_icon_menu {
        display: none;
      }
    .postore_left_expanded_menu {
        display: block;
    }
    .posts-table-small{
        display: none;
    }
    .posts-table-large{
        display: block;
    }
}