// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#p-sidebar {
    min-height: 100vh;
    background:white;
    color: black;
    transition: all 0.3s;
}

#p-sidebar .sidebar-header {
    padding: 20px;
}
#p-sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#p-sidebar ul p {
    color: #fff;
    padding: 10px;
}

#p-sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    //display: block;
}
#p-sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#p-sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.fa-twitter-square{
    color: Dodgerblue;;
}

#post_date{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    display: block;
    padding: 0.2rem 0.5rem; 
}

.left-side-menu{
    padding-top: 100px;
    border-right: 2px solid #dee2e6;
}

.left-menu-icons li a i,
.add-media-btns span i
{
   font-size: 1.2rem;
   color: rgb(2, 46, 56); 
}

.left-menu-icons li a i:hover,
.add-media-btns span i:hover
{
    //font-size: 1.1rem;
    color:$blue; 
 }


// SPost
.post-text-container{
    margin-bottom: 5px;
    background-color: $postoreGrey; 
}
.post-text-group{
    position: relative;
    .post-character-count{
        position: absolute;
        right: 2px;
        bottom: 2px;
        margin-bottom: 0;
    }
}

.social-selector{
    // border: 2px solid #3490dc;
    // border-radius: 5px;
    padding: 2px;
    position: relative;

    .social-selector-check{
        color: $green;
        position: absolute;
        left: 2px;
        bottom: -3px;
        font-size: 1.1rem;
        background-color: white;
        border-radius: 100%;
        margin-left: -2px;
    }
    .social-selector-twitter{
        position: absolute;
        right: -3px;
        top: -3px;
        background-color: white;
        font-size: 1.2rem;
        //border-radius: 100%;
        //margin-right: -12px;
    }

}

.social-selector-inactive{
    opacity: 0.3 !important;
}

.check-inactive{
    display:none !important;
}

.twitter-profile-option{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 3px;
}
twitter-profile-option-active{
    border: 3px solid blue;
}
.show-avatar{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.show-post-options-container{
    position: relative;
    .show-post-options-menu{
        position: absolute;
        left: -10px;
        top: 0;

    }
}

.show-post-options-trigger{
    margin-left: 12px;
    cursor: pointer;
}

.show-post-options-menu{
    background-color: white;
    border: 0px solid;
    //padding: 10px;
    box-shadow: .1px .1px 4px 0px $blue;
    z-index: 5;
    border-radius: 2px;
    width: 140px;
}

.show-post-options-item {
    padding: 10px;
    cursor: pointer;
}

.show-post-options-item:hover{
    background-color: #edf3f5;
}

.post-options-btn{
    border:none; 
    background-color: white;
}

.post-options-btn:hover{
    border:none; 
    background-color: #edf3f5;
}

.hidden-options-menu{
    display: none;
}

.hideElement{
    display: none !important;
}

.show-social-selector{
    // border: 2px solid #3490dc;
    // border-radius: 5px;
    padding: 2px;
    position: relative;
    .show-social-selector-twitter{
        position: absolute;
        right: -3px;
        top: -3px;
        background-color: white;
        font-size: 1.2rem;
        //border-radius: 100%;
        //margin-right: -12px;
    }
}

// Show other profiles for a spost in index
.show-other-profiles-container{
    position: relative;
    .show-other-profiles{
        position: absolute;
        right: -70px;
        top: 0;
        background-color: white;
        border: 0px solid;
        //padding: 10px;
        box-shadow: .1px .1px 4px 0px $blue;
        z-index: 5;
        border-radius: 2px;

    }
}

.show-other-profiles-trigger{
    margin-left: 12px;
    cursor: pointer;
}

.hidden-other-profiles{
    display: none;
}

.show-other-profiles-item {
    padding: 10px;
}

.disabled{
    cursor: none !important;
}

// Media files

.image-preview-container{
    width: 240px;
    height: 240px;
    //display: none !important;
}

.imagePreview{
    width: 240px;
    height: 240px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border-radius: 14px;
    position: relative;
    .removeMedia, .removeMedia2{
        position: absolute;
        right: 5px;
        top: 5px;
        color: white;
        background-color: grey;
        border-radius: 100%;
        cursor: pointer;
        z-index: 10;
    }
}


// .media-item-container{
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     //margin: 5px;
//     border-radius: 14px;
//     position: relative;
//     //margin-bottom: 10px;
//     .removeMedia2{
//         position: absolute;
//         right: 5px;
//         top: 10px;
//         color: white;
//         background-color: grey;
//         border-radius: 100%;
//         cursor: pointer;
//         z-index: 10;
//     }
// }

.mic-1{
    width: 240px;
    height: 240px;
    //margin: 5px;
}

.show-image-1{
    width: 240px;
    height: 240px;
    border-radius: 14px;
}

.mic-2{
    width: 120px;
    height: 240px;
    //margin: 5px; 
}

.show-image-2{
    width: 120px;
    height: 240px;
    border-radius: 14px;
}

.mic-3{
    width: 120px;
    height: 120px;
    //margin: 5px; 
}

.show-image-3{
    width: 120px;
    height: 120px;
    border-radius: 14px;
}

// .add-media-btns {
//     color: $blue;
// }

// PAGES
.page-title{
    font-size: 2.5rem;
    padding-bottom: 15px;
}

.page-subtitle{
    background-color: $postoreGrey;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

// Social Profiles
.social-profiles-content{
    margin-top: 10px;
}

.social-profile-header{
    margin-bottom: 10px;
}
.social-profile-name{
    font-size: large;
    font-weight: bold;
    margin-left: 5px;
}
.social-profile-list{
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.social-profile-item{
    padding-left: 10px;
}


// Add twitter profile button
.btn-add-tw{
    background-color: $blue;
    color:  white;
    margin-top: 10px;
}
i.fab.fa-twitter{
    color: white;
}

.failure-publish{
    overflow: hidden;
    position: absolute;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
}

.show-post-engagement{
    margin-left: 45px !important;
}

// Media queries
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .postore_left_icon_menu {
      display: block;
    }
    .postore_left_expanded_menu {
        display: none;
    }
    .posts-table-small{
        display: block;
    }
    .posts-table-large{
        display: none;
    }
    .show-post-date{
        font-size: 10px !important;
        margin-left: 10px;
    }
    .show-post-text{
        font-size: 14px !important;
        //width: 400px !important;
    }
    .container, li{
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .content-row{
        margin-left: 2px;
    }

}
@media only screen and (min-width: 768px) {
    .postore_left_icon_menu {
        display: none;
      }
    .postore_left_expanded_menu {
        display: block;
    }
    .posts-table-small{
        display: none;
    }
    .posts-table-large{
        display: block;
    }
    .show-post-date{
        font-size: 12px !important;
        padding-left: 0;
        padding-right: 0;
    }
    .show-post-text{
        margin-left: 15px !important;
        font-size: 14px !important;
        width: 400px !important;
    }
    .show-post-engagement{
        margin-left: 15px !important;
    }
    
}